                                        Assignment: 20th Aug 2023 , Python Basics

## TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
def reverse_str(s):
    s_new = s[::-1]
    return s_new

In [2]:
test_s = "pwskills"
reverse_s = reverse_str(test_s)
reverse_s

'sllikswp'

2.Check if a string is a palindrome.

In [4]:
def check_palindrome(s):
    s = s.lower()
    rev_s = s[::-1]

    if s==rev_s:
        print("Yes the string is palindrome")
    else:
        print("No the string is not palindrome")

In [5]:
test_palin = 'admda'

check_palindrome(test_palin)

Yes the string is palindrome

3. Convert a string to uppercase.

In [7]:
s_upper = 'this is a random string'

s_upper = s_upper.upper()
s_upper

'THIS IS A RANDOM STRING'

4. Convert a string to lowercase.

In [8]:
s_lower = 'This Is A RANDOM string'

s_lower = s_lower.lower()
s_lower

'this is a random string'

5. Count the number of vowels in a string.

In [11]:
def count_vowels(s):

    vowels = 'aeiou'
    count = 0

    for char in s.lower():
        if char in vowels:
            count +=1
    return count

In [13]:
test_vowels = 'pwskills is a great firm'
count_vowels(test_vowels)

6

6. Count the number of consonants in a string.

In [15]:
def count_consonants(s):

    vowels = 'aeiou'
    count = 0

    for char in s.lower():
        if char not in vowels:
            count +=1
    return count

In [16]:
test_cons = 'pwskills is a great firm'
count_consonants(test_cons)

18

7. Remove all whitespaces from a string.

In [19]:
s_ws = "pwskills is a great firm"

s_ws_rev = s_ws.replace(" ","")
s_ws_rev

'pwskillsisagreatfirm'

8. Find the length of a string without using the `len()` function.

In [20]:
len_str =  "pwskills is a great firm"


count = 0
for char in len_str:
    count+=1

print(count)

24

9. Check if a string contains a specific word.

In [26]:
def check_word(s,w):
    s.lower()

    if s.count(w) > 0:
        print("Yes it does contains",w)

    else:
        print("NO")

In [30]:
str_w = "pwskills is a great firm"
check_word(str_w,'i')

Yes it does contains i

10. Replace a word in a string with another word.

In [31]:
str_replace = "pwskills is a great firm"

str_replace = str_replace.replace('is', 'is not')
str_replace

'pwskills is not a great firm'

11. Count the occurrences of a word in a string.

In [32]:
str_count= "pwskills is a great firm"

str_count.count('s')

3

12. Find the first occurrence of a word in a string.

In [33]:
str_first= "pwskills is a great firm"

str_first.index('s')

2

13. Find the last occurrence of a word in a string.

In [35]:
str_last= "pwskills is a great firm"

str_last.rfind('s')

10

14. Split a string into a list of words.

In [36]:
str_split = "pwskills is a great firm"

str_split.split()

['pwskills', 'is', 'a', 'great', 'firm']

15. Join a list of words into a string.

In [41]:
s1 = "pwskills"
s2 = "is"
s3 = "a great"
s4 = "firm"

s_join = ' '.join([s1,s2,s3,s4])
s_join

'pwskills is a great firm'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [42]:
s_space = 'pwskills is a great firm'

s_underscores = s_space.replace(" ", "_")
s_underscores

'pwskills_is_a_great_firm'

17. Check if a string starts with a specific word or phrase.

In [43]:
s_starts_w = 'pwskills is a great firm'

s_starts_w.startswith('p')

True

18. Check if a string ends with a specific word or phrase.

In [44]:
s_end = 'pwskills is a great firm'

s_end.endswith('m')

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [45]:
s_title =  'pwskills is a great firm'

s_title.title()

'Pwskills Is A Great Firm'

20. Find the longest word in a string.

In [51]:
s_long =  'pwskills is a great firm'

s_long = s_long.split()

max_length = 0

for char in s_long:

    if len(char)> max_length:
        max_length = len(char)
        longest_word = char

longest_word

'pwskills'

21. Find the shortest word in a string.

In [54]:
s_short =  'pwskills is a great firm'

s_short = s_short.split()

min_length = float('inf')

for char in s_short:

    if len(char) < min_length:
        min_length = len(char)
        shortest_word = char

shortest_word

'a'

22. Reverse the order of words in a string.

In [59]:
s_rev =  'pwskills is a great firm'

s_rev = s_rev.split()

final_s = ' '.join(s_rev[::-1])
final_s

'firm great a is pwskills'

23. Check if a string is alphanumeric.

In [61]:
s_alnum =  'pwskills is a great firm'

s_alnum.isalnum()

False

24. Extract all digits from a string.

In [65]:
s_digit =  'price of a mouse is $10.91'

ext_dig = ''
for char in s_digit:
    if char.isdigit():
        ext_dig +=char

ext_dig

'1091'

25. Extract all alphabets from a string.

In [66]:
s_alpha =  'price of a mouse is $10.91'

ext_alpha = ''
for char in s_alpha:
    if char.isalpha():
        ext_alpha +=char

ext_alpha

'priceofamouseis'

26. Count the number of uppercase letters in a string.

In [1]:
s_upcase =  'PWskills Is A Great Firm'


count= 0
for char in s_upcase:
    if char.isupper():
        count +=1

print(count)

6

27. Count the number of lowercase letters in a string.

In [2]:
s_lowcase =  'PWskills Is A Great Firm'


count= 0
for char in s_lowcase:
    if char.islower():
        count +=1

print(count)

14

28. Swap the case of each character in a string.

In [14]:
s_swapcase =  'PWskills Is A Great Firm'

s_swapped = ''

for char in s_swapcase:
    
    if char.islower():
        s_swapped += char.upper()
    elif char.isupper():
        s_swapped += char.lower()

    else:
        s_swapped += ' '

In [15]:
s_swapped

'pwSKILLS iS a gREAT fIRM'

29. Remove a specific word from a string.

In [20]:
s_remove =  'PWskills Is A Great Firm'

s_remove = s_remove.replace('Great','')
s_remove

'PWskills Is A  Firm'

30. Check if a string is a valid email address.

In [21]:
import re

def is_valid_email(email):
    
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    
    if re.match(pattern, email):
        return True
    else:
        return False

In [22]:

email = "pwskills@gmail.com"
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

pwskills@gmail.com is a valid email address.

31. Extract the username from an email address string.

In [24]:
s_email =  "pwskills@gmail.com"

s_email.split('@')[0]

'pwskills'

32. Extract the domain name from an email address string.

In [26]:
s_email =  "pwskills@gmail.com"

s_email.split('@')[1]

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [29]:
s_space =   'PWskills     Is  A   Great      Firm'


s_space_split = s_space.split()

s_space_join = ' '.join(s_space_split)

print(s_space_join)

PWskills Is A Great Firm

34. Check if a string is a valid URL.

In [30]:
import re

def is_valid_url(url):
  
    pattern = r'^(https?|ftp)://[^\s/$.?#].[^\s]*$'
    
    if re.match(pattern, url):
        return True
    else:
        return False

In [33]:
# Example usage:
url = "https://www.pwskills.com"
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.pwskills.com is a valid URL.

35. Extract the protocol (http or https) from a URL string.

In [34]:
s_url = "https://www.pwskills.com"

s_url.split(':')[0]

'https'

36. Find the frequency of each character in a string.

In [37]:
s_freq =   'PWskills Is A Great Firm'

s_freq_lower = s_freq.lower()


count_dict = {}

for char in s_freq_lower:
    count_dict[char] = s_freq_lower.count(char)

In [38]:
count_dict

{'p': 1,
 'w': 1,
 's': 3,
 'k': 1,
 'i': 3,
 'l': 2,
 ' ': 4,
 'a': 2,
 'g': 1,
 'r': 2,
 'e': 1,
 't': 1,
 'f': 1,
 'm': 1}

37. Remove all punctuation from a string.

In [39]:
import string
 
str_punc = 'PWskill#s $Is ,A @Great !Firm'
 
str_punc = str_punc.translate(str.maketrans('', '', string.punctuation))
print(str_punc)

PWskills Is A Great Firm

38. Check if a string contains only digits.

In [43]:
str_dig = 'PWskills Is A Great Firm'


str_dig.isnumeric()

False

39. Check if a string contains only alphabets.

In [45]:
str_alpha ='PWskillsIsAGreatFirm'

str_alpha.isalpha()

True

40. Convert a string to a list of characters.

In [48]:
str_list ='PWskillsIsAGreatFirm'

str_list_final = []

for char in str_list:
    str_list_final.append(char)

str_list_final

['P',
 'W',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 'I',
 's',
 'A',
 'G',
 'r',
 'e',
 'a',
 't',
 'F',
 'i',
 'r',
 'm']

41. Check if two strings are anagrams.

In [49]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

In [50]:

string1 = "listen"
string2 = "silent"
if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

listen and silent are anagrams.

42. Encode a string using a Caesar cipher.

In [52]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            shifted = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            if is_upper:
                shifted = shifted.upper()
            encrypted_text += shifted
        else:
            encrypted_text += char

    return encrypted_text

In [57]:
# Example usage:
text = "PWSKLLS is a great firm"
shift = 3
encrypted_text = caesar_cipher_encrypt(text, shift)
print("Original text:", text)
print("Encrypted text:", encrypted_text)

Original text: PWSKLLS is a great firm
Encrypted text: SZVNOOV lv d juhdw ilup

43. Decode a Caesar cipher encoded string.

In [55]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            shifted = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            if is_upper:
                shifted = shifted.upper()
            decrypted_text += shifted
        else:
            decrypted_text += char

    return decrypted_text

In [58]:

encrypted_text = "SZVNOOV lv d juhdw ilup"
shift = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print("Encrypted text:", encrypted_text)
print("Decrypted text:", decrypted_text)

Encrypted text: SZVNOOV lv d juhdw ilup
Decrypted text: PWSKLLS is a great firm

44. Find the most frequent word in a string.

In [61]:
s_freq =   'PWskills Is A Great Firm'

s_freq_lower = s_freq.lower()
s_freq_lower = s_freq_lower.replace(" ",'')


count_dict = {}

for char in s_freq_lower:
    count_dict[char] = s_freq_lower.count(char)

In [64]:
count_dict

{'p': 1,
 'w': 1,
 's': 3,
 'k': 1,
 'i': 3,
 'l': 2,
 'a': 2,
 'g': 1,
 'r': 2,
 'e': 1,
 't': 1,
 'f': 1,
 'm': 1}

In [63]:
# Find the key with the maximum value
max_key = max(count_dict, key=lambda key: count_dict[key])

print("Key with maximum value:", max_key)

Key with maximum value: s

45. Find all unique words in a string.

In [65]:
s_unique =   'PWskills Is A Great Firm'

s_unique = s_unique.lower()
s_unique = s_unique.replace(" ",'')


unique_s = []

for char in s_unique:
    unique_s.append(char)



unique_s = set(unique_s)
print(unique_s)

{'p', 'l', 'r', 't', 'f', 's', 'm', 'g', 'e', 'k', 'a', 'i', 'w'}

46. Count the number of syllables in a string.

47. Check if a string contains any special characters.

In [66]:
import re

def contains_special_characters(input_string):

    pattern = r'[^\w\s]'
    
    
    if re.search(pattern, input_string):
        return True
    else:
        return False

In [68]:
input_string = "Hi @PWSKILLS,"
if contains_special_characters(input_string):
    print(f"The string '{input_string}' contains special characters.")
else:
    print(f"The string '{input_string}' does not contain special characters.")

The string 'Hi @PWSKILLS,' contains special characters.

48. Remove the nth word from a string.

In [77]:
str_remove = 'PWskills Is A Great Firm'

str_remove = str_remove.split()

str_remove

['PWskills', 'Is', 'A', 'Great', 'Firm']

In [78]:

del str_remove[2]

str_remove = ' '.join(str_remove)
str_remove

'PWskills Is Great Firm'

49. Insert a word at the nth position in a string.

In [81]:
str_insert = 'PWskills Is A Great Firm'

str_insert = str_insert.split()

str_insert

['PWskills', 'Is', 'A', 'Great', 'Firm']

In [82]:

str_insert.insert(2,"Not")

str_insert = ' '.join(str_insert)
str_insert

'PWskills Is Not A Great Firm'

50. Convert a CSV string to a list of lists.

In [114]:
csv_string = """Name,Age,Location
John,30,New York
Alice,25,Los Angeles
Bob,35,Chicago
"""

In [115]:
csv_string = csv_string.split('\n')[0:-1]
csv_string

['Name,Age,Location',
 'John,30,New York',
 'Alice,25,Los Angeles',
 'Bob,35,Chicago']

In [117]:
final_list = []
for x in csv_string:   
    final_list.append(x.split(','))


final_list

[['Name', 'Age', 'Location'],
 ['John', '30', 'New York'],
 ['Alice', '25', 'Los Angeles'],
 ['Bob', '35', 'Chicago']]

## List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [120]:
l1 = [i for i in range(1,11)]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [3]:
l2 = [1,2,3]

i = 0

for x in l2:
    i+=1
    

print("Length:",i)

Length: 3

3. Append an element to the end of a list.

In [4]:
l3 = [1,2,3]

l3.append(4)

l3

[1, 2, 3, 4]

4. Insert an element at a specific index in a list.

In [6]:
l4 = [1,2,3]

l4.insert(3,4)

l4

[1, 2, 3, 4]

5. Remove an element from a list by its value.

In [8]:
l5 = [1,2,3,4]

l5.remove(3)

l5

[1, 2, 4]

6. Remove an element from a list by its index.

In [9]:
l6 = [1,2,3,4]

l6.pop(2)

l6

[1, 2, 4]

7. Check if an element exists in a list.

In [10]:
l7 = [1,2,3,4]

if 3 in l7:
    print("yes it exists")

else:
    print("No it does not")

yes it exists

8. Find the index of the first occurrence of an element in a list.

In [11]:
l8 = [1,2,3,4,2]

l8.index(2)

1

9. Count the occurrences of an element in a list.

In [12]:
l9 = [1,2,3,4,2]

l9.count(2)

2

10. Reverse the order of elements in a list.

In [14]:
l10 = [1,2,3,4]

l10.reverse()

l10

[4, 3, 2, 1]

11. Sort a list in ascending order.

In [15]:
l11 = [1,2,3,4,9,5,10,6]

l11.sort()

l11

[1, 2, 3, 4, 5, 6, 9, 10]

12. Sort a list in descending order.

In [16]:
l12 = [1,2,3,4,9,5,10,6]

l12.sort(reverse=True)

l12

[10, 9, 6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [18]:
count = 0

for i in range(1,21):
    if i%2 ==0:
        count+=1

    else:
        pass

count

10

14. Create a list of odd numbers from 1 to 20.

In [19]:
count = 0

for i in range(1,21):
    if i%2 ==0:
        pass       

    else:
        count+=1

count

10

15. Find the sum of all elements in a list.

In [20]:
l15 = [1,2,3,4]

sum(l15)

10

16. Find the maximum value in a list.

In [21]:
l16 = [1,2,3,4]

max(l16)

4

17. Find the minimum value in a list.

In [22]:
l17 = [1,2,3,4]

min(l17)

1

18. Create a list of squares of numbers from 1 to 10.

In [24]:
l18 = []

for i in range(1,11):
    l18.append(i**2)

l18

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [29]:
import random

l19 = [random.randint(1,10) for _ in range(10)]
l19

[7, 8, 6, 8, 2, 2, 3, 1, 7, 4]

20. Remove duplicates from a list.

In [30]:
l20 = [1,2,3,4,4,5,7,2,3]

l20 = list(set(l20))

l20

[1, 2, 3, 4, 5, 7]

21. Find the common elements between two lists.

In [31]:
l21_a = [1,2,3,4]
l21_b = [3,4,5,6]

common = []

for i in l21_a:
    if i in l21_b:
        common.append(i)
    else:
        pass
common

[3, 4]

22. Find the difference between two lists.

In [40]:
l22_a = [1, 2, 3, 4]
l22_b = [3, 4, 5, 6]

set_a = set(l22_a)
set_b = set(l22_b)

unique_to_a = set_a - set_b

unique_to_b = set_b - set_a

result = list(unique_to_a) + list(unique_to_b)

result

[1, 2, 5, 6]

23. Merge two lists.

In [41]:
l23_a = [1, 2, 3, 4]
l23_b = [3, 4, 5, 6]

merged_list = l23_a+l23_b
merged_list

[1, 2, 3, 4, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [44]:
l24 = [1,2,3,4]

l24 = [2*i for i in l24]
l24

[2, 4, 6, 8]

25. Filter out all even numbers from a list.

In [45]:
l25 = [1,2,3,4,6,7,8]

even= []

for i in l25:
    if i%2==0:
        even.append(i)

even

[2, 4, 6, 8]

26. Convert a list of strings to a list of integers.

In [49]:
l26 = ["1","2","3"]
l26

['1', '2', '3']

In [48]:
l26 = ["1","2","3"]

l26 = [int(i) for i in l26]

l26

[1, 2, 3]

27. Convert a list of integers to a list of strings.

In [50]:
l27 =[1, 2, 3]

l27 = [str(i) for i in l27]

l27

['1', '2', '3']

28. Flatten a nested list.

In [65]:
l28 = [1,2,[4,5]]
l28

[1, 2, [4, 5]]

In [66]:
l28_ext = []

for i in l28:
    if isinstance(i,list):
        l28_ext.extend(i)

    else:
        l28_ext.append(i)

l28_ext

[1, 2, 4, 5]

29. Create a list of the first 10 Fibonacci numbers.

In [67]:
def generate_fibonacci(n):
    fibonacci_list = []
    a, b = 0, 1

    for _ in range(n):
        fibonacci_list.append(a)
        a, b = b, a + b

    return fibonacci_list


first_10_fibonacci = generate_fibonacci(10)

first_10_fibonacci

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [79]:
# l30 = [1,6,2,8,3,9,5]

l30 = [1,2,4,5,6,7]


l30_sorted = sorted(l30)


if l30 == l30_sorted:
    print("YES it is sorted")

else:
    print("No it's not")

YES it is sorted

31. Rotate a list to the left by `n` positions.

In [80]:
def left_rotate_list(input_list, n):
    # Ensure that n is within the length of the list
    n = n % len(input_list)
    
    # Slice the list and concatenate the two parts
    rotated_list = input_list[n:] + input_list[:n]
    
    return rotated_list

original_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate to the left

rotated_list = left_rotate_list(original_list, n)

print(rotated_list)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [81]:
def left_rotate_list(input_list, n):
    # Ensure that n is within the length of the list
    n = n % len(input_list)
    
    # Slice the list and concatenate the two parts
    rotated_list = input_list[-n:] + input_list[:-n]
    
    return rotated_list

original_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate to the left

rotated_list = left_rotate_list(original_list, n)

print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [1]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [2, 3]  # Initialize with the first two prime numbers

for num in range(5, 51, 2):
    if is_prime(num):
        prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [2]:
def split_list_into_chunks(input_list, chunk_size):
    for i in range(0, len(input_list), chunk_size):
        yield input_list[i:i + chunk_size]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

chunked_list = list(split_list_into_chunks(my_list, chunk_size))
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [11]:
l35 = [1,2,3,4,5]

l35 = sorted(l35)

print(l35[-2]) # second largest number

4

36. Replace every element in a list with its square.

In [12]:
l36 = [1,2,3,4,5]

for i,x in enumerate(l36):
    l36[i] = x**2

l36

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [13]:
l37 = [1,2,3,4,5]

dict_37 = {}

for i,x in enumerate(l37):
    dict_37[x] = i

dict_37

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

38. Shuffle the elements of a list randomly.

In [15]:
import random
l38 = [1,2,3,4,5]

random.shuffle(l38)
l38

[3, 2, 1, 4, 5]

39. Create a list of the first 10 factorial numbers.

In [18]:
def factorial(n):
    factorial_number = 1
    
    for i in range(1,n+1):
        factorial_number = factorial_number *i
    return factorial_number

list_39 = []

for i in range(1,11):
    list_39.append(factorial(i))


list_39

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [22]:
l40_a = [1,2,3,4,5]
l40_b = [5,6,7,8,9]

def check_common(l1,l2):

    common_found = False

    for x in l1:
        if x in l2:
            common_found = True
            break
        else:
            pass
           
    if common_found:
        print("yes there's a common element")
    else:
        print("No coomon element found")

check_common(l40_a,l40_b)

No coomon element found

41. Remove all elements from a list.

In [29]:
l41 = [1,2,3,4,5]

l41.clear()

l41

[]

42. Replace negative numbers in a list with 0.

In [30]:
l42 = [1,2,-3,-4,5]

for i,x in enumerate(l42):
    if x<0:
        l42[i] = 0


l42

[1, 2, 0, 0, 5]

43. Convert a string into a list of words.

In [31]:
str_43 = "pw skiils is located in delhi"

str_43.split(' ')

['pw', 'skiils', 'is', 'located', 'in', 'delhi']

44. Convert a list of words into a string.

In [32]:
list_44 = ['pw', 'skiils', 'is', 'located', 'in', 'delhi']

str_44 = " ".join(list_44)

str_44

'pw skiils is located in delhi'

45. Create a list of the first `n` powers of 2.

In [34]:
def n_power(n):

    l45 = []

    for i in range(1,n+1):
        l45.append(2**i)

    return l45

n_power(5)

[2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [39]:
l46 = ['pw', 'skiils', 'is', 'located', 'in', 'delhi']

largest = 0 
for x in l46:
    
    if len(x) > largest:
        largest = len(x)
        largest_str = x


    

largest_str

'located'

47. Find the shortest string in a list of strings.

In [43]:
l47 = ['pw', 'skiils', 'is', 'located', 'in', 'delhi']

shortest = len(l47[0])
for x in l47:
    
    if len(x) < shortest:
        shortest = len(x)
        shortest_str = x


    

shortest_str

'pw'

48. Create a list of the first `n` triangular numbers.

In [44]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [45]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices.

In [48]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]