In [1]:
s = 'pwskills'

In [4]:
s[0::2]

'psil'

In [7]:
x = 10

In [8]:
x = x+5
x

15

In [9]:
name = "John"

age = 25

print("My name is", name, "and I am", age, "years old.")

My name is John and I am 25 years old.

In [10]:
word = "Python"

print(word[2])

t

In [11]:
len(s)

8

In [12]:
s.upper()

'PWSKILLS'

In [14]:
's' in s

True

In [15]:
text = "Hello, World!"

print(text[7:12])

World

In [16]:
phrase = "Python is fun!"

new_phrase = phrase.replace("fun", "awesome")

print(new_phrase)

Python is awesome!

In [17]:
string1 = "Python"

string2 = "Programming"

result = string1 + " " + string2

print(result)

Python Programming

In [18]:
word = "Python"

repeated_word = word * 3

print(repeated_word)

PythonPythonPython

In [19]:
message = "Hello, World!"

print(message[-6:-1])

World

In [20]:
word = "python"

capitalized_word = word.capitalize()

print(capitalized_word)

Python

In [21]:
text = "   Hello, World!   "

trimmed_text = text.strip()

print(trimmed_text)

Hello, World!

In [22]:
s.lower()

'pwskills'

In [23]:
string = '''This is a multi-line string. and
sdcdsncsdcksncsdcsdcsd'''
string

'This is a multi-line string. and\nsdcdsncsdcksncsdcsdcsd'

In [24]:
string = """This is a multi-line string.
cjkscnksvksncksdnc"""

In [25]:
string

'This is a multi-line string.\ncjkscnksvksncksdnc'

In [1]:
s = {1,2,3,3,4,5,5}
s

{1, 2, 3, 4, 5}

In [2]:
s1 ={ 3, 7,1,9,3,2,7}
s1

{1, 2, 3, 7, 9}

In [3]:
a = 5

In [4]:
s1[0]

TypeError: 'set' object is not subscriptable

In [5]:
s2 = tuple(s1)
s2[0]

1

In [1]:
s1 = 'pwskills'

In [2]:
s1.capitalize

In [3]:
s1.count('s')

2

In [5]:
s1.endswith('s')

True

In [6]:
s1.find('w')

1

In [7]:
s1.index('w')

1

In [8]:
s1.lower()

'pwskills'

In [9]:
s1.upper()

'PWSKILLS'

In [10]:
s2 = "my name is udbhav"

In [11]:
s2.split()

['my', 'name', 'is', 'udbhav']

In [12]:
s3 = "my , name ,  is , udbhav"

In [15]:
s3.split()

['my', ',', 'name', ',', 'is', ',', 'udbhav']

In [14]:
s3.split(',')

['my ', ' name ', '  is ', ' udbhav']

In [18]:
s4 = s3.replace('name', 'mame')
s4

'my , mame ,  is , udbhav'

In [17]:
s3[4] = 'm'

TypeError: 'str' object does not support item assignment

In [19]:
l = [1,2,6,9,3,5]

In [20]:
l.reverse()

In [21]:
l

[5, 3, 9, 6, 2, 1]

In [22]:
l.sort()

In [23]:
l

[1, 2, 3, 5, 6, 9]

In [24]:
l2 = l

In [25]:
l[0] = 200

In [26]:
l2

[200, 2, 3, 5, 6, 9]

In [1]:
l = [1,2,3]

In [2]:
type(l)

list

In [3]:
l1 = [1,2,'tyoe',[3,5,6]]

In [4]:
l1

[1, 2, 'tyoe', [3, 5, 6]]

In [5]:
l1[2]

'tyoe'

In [6]:
l2 = [8,9,10,'pw',True]

In [7]:
l1+l2

[1, 2, 'tyoe', [3, 5, 6], 8, 9, 10, 'pw', True]

In [8]:
l2[0] = 300
l2

[300, 9, 10, 'pw', True]

In [9]:
s = 'string'
s

'string'

In [10]:
s[1]

't'

In [11]:
s[1] = 'u'

TypeError: 'str' object does not support item assignment

In [12]:
t = (1,2,3)
t

(1, 2, 3)

In [13]:
t[0]

1

In [14]:
t[0] = 300

TypeError: 'tuple' object does not support item assignment

In [15]:
s1 = {1,2,3,3}
s1

{1, 2, 3}

In [17]:
l2 = [1,2,3,'type',[4,5]]
l2

[1, 2, 3, 'type', [4, 5]]

In [18]:
set(l2)

TypeError: unhashable type: 'list'

In [19]:
l1

[1, 2, 'tyoe', [3, 5, 6]]

In [20]:
l1 = [1,2,3]

In [21]:
set(l1)

{1, 2, 3}

In [22]:
s1

{1, 2, 3}

In [23]:
s1[0]

TypeError: 'set' object is not subscriptable

In [24]:
list(s1)

[1, 2, 3]

In [25]:
d2 = {"name":'udbhav',"name":"manu"}
d2

{'name': 'manu'}

In [26]:
d3 = {[0,1]: 2}
d3

TypeError: unhashable type: 'list'

In [27]:
d3 = {1:4}

In [28]:
d3

{1: 4}

In [30]:
d3 = {(1,2):5}
d3

{(1, 2): 5}

In [31]:
d3 = {[1,2]:5}
d3

TypeError: unhashable type: 'list'

In [32]:
d4 = {"@~$":3}
d4

{'@~$': 3}

In [33]:
s1

{1, 2, 3}

In [34]:
s1 = 'my name is udbhav'
s1

'my name is udbhav'

In [37]:
s1.count('my')

1

In [38]:
s1.find('u')

11

In [39]:
s1.index('u')

11

In [40]:
s1.index('m')

0

In [41]:
s1.index('z')

ValueError: substring not found

In [42]:
s1.find('z')

-1

In [43]:
s1.upper()

'MY NAME IS UDBHAV'

In [44]:
s1.lower()

'my name is udbhav'

In [47]:
s1

'my name is udbhav'

In [46]:
s1.title()

'My Name Is Udbhav'

In [48]:
s1.capitalize()

'My name is udbhav'

In [51]:
s1.split()

['my', 'name', 'is', 'udbhav']

In [52]:
s1.replace('u','t')

'my name is tdbhav'

In [53]:
s1

'my name is udbhav'

In [54]:
s1.isalnum()

False

In [55]:
s1.isalpha()

False

In [56]:
s2 = 'udbhav'

In [57]:
s2.isalnum()

True

In [58]:
s3 = 'udbhav bro'
s3.isalnum()

False

In [59]:
l2 = [1,2,34]

In [60]:
l2.append([4,5,6])

In [61]:
l2

[1, 2, 34, [4, 5, 6]]

In [62]:
l2.extend([9.10,11])
l2

[1, 2, 34, [4, 5, 6], 9.1, 11]

In [63]:
l2.pop(1)
l2

[1, 34, [4, 5, 6], 9.1, 11]

In [66]:
l2.pop(4)
l2

[1, 34, [4, 5, 6], 9.1]

In [67]:
del l2

In [68]:
l2

NameError: name 'l2' is not defined

In [69]:
l1

[1, 2, 3]

In [70]:
l1.reverse()

In [71]:
l1

[3, 2, 1]

In [72]:
l1[::-1]

[1, 2, 3]

In [73]:
l1.sort()

In [74]:
l1

[1, 2, 3]

In [75]:
l1.sort(reverse=True)
l1

[3, 2, 1]

In [76]:
l2 = l1.sort()

In [78]:
l1

[1, 2, 3]

In [81]:
l3 = l1

In [82]:
l3

[1, 2, 3]

In [83]:
l3[0] = 200

In [84]:
l3

[200, 2, 3]

In [85]:
l1

[200, 2, 3]

In [86]:
l1[1] = 500

In [87]:
l1

[200, 500, 3]

In [88]:
l3

[200, 500, 3]

In [89]:
s2

'udbhav'

In [90]:
s2 = {1,2,3,4,12,4,67,1,2,6}
s2

{1, 2, 3, 4, 6, 12, 67}

In [91]:
s2.add(400)

In [92]:
s2

{1, 2, 3, 4, 6, 12, 67, 400}

In [95]:
s2.clear()

In [96]:
s2

set()

In [97]:
s2 = {1,2,3,4,12,4,67,1,2,6}
s2

{1, 2, 3, 4, 6, 12, 67}

In [98]:
s2.discard(1)
s2

{2, 3, 4, 6, 12, 67}

In [100]:
s2.pop()

2

In [101]:
s2

{3, 4, 6, 12, 67}

In [103]:
d2

{'name': 'manu'}

In [104]:
d2["age"] = 28
d2['job']= 'analyst'

In [105]:
d2

{'name': 'manu', 'age': 28, 'job': 'analyst'}

In [106]:
d2.values()

dict_values(['manu', 28, 'analyst'])

In [107]:
d2.items()

dict_items([('name', 'manu'), ('age', 28), ('job', 'analyst')])

In [108]:
d2.keys()

dict_keys(['name', 'age', 'job'])

In [109]:
d2.get("age")

28

In [110]:
a = {}
a

{}

In [111]:
a = {1,2,4,4,5}
a

{1, 2, 4, 5}

In [112]:
a[0]

TypeError: 'set' object is not subscriptable

In [113]:
a.add(10)

In [114]:
a

{1, 2, 4, 5, 10}

In [115]:
a.discard(1)

In [116]:
a.remove(2)

In [117]:
b = {(1,2):5}

In [118]:
b

{(1, 2): 5}

In [119]:
a

{4, 5, 10}

In [120]:
a.add(1,2)

TypeError: set.add() takes exactly one argument (2 given)

In [122]:
a.update((1,2))

In [123]:
a

{1, 2, 4, 5, 10}

In [127]:
b = set{1,2}
b

SyntaxError: invalid syntax (4233945954.py, line 1)

In [128]:
m = tuple(1)

TypeError: 'int' object is not iterable

In [131]:
a = (1,)
a

(1,)

In [133]:
d = {"name":"manu", "age":12}
d

{'name': 'manu', 'age': 12}

In [134]:
d.get("name")

'manu'

In [138]:
m = list()
type(m)

list

In [137]:
m = []
type(m)

list

In [139]:
m = [1,2,3,4,5]
n= list[1,2,3]

In [140]:
n

list[1, 2, 3]

In [141]:
m

[1, 2, 3, 4, 5]

In [143]:
m.append(10)
m

[1, 2, 3, 4, 5, 10]

In [145]:
m

[1, 2, 3, 4, 5, 10]

In [147]:
m.clear()

In [148]:
m

[]

In [149]:
d

{'name': 'manu', 'age': 12}

In [150]:
d.pop("name")

'manu'

In [151]:
d

{'age': 12}

In [152]:
d.__contains__("age")

True

In [153]:
d.values()

dict_values([12])

In [154]:
t = (1,2,3)
t

(1, 2, 3)

In [157]:
d

{'age': 12}

In [159]:
d.update({"name":"manu"})

In [160]:
d

{'age': 12, 'name': 'manu'}

In [161]:
s

'string'

In [162]:
s = {1,2,4,4,5}
s

{1, 2, 4, 5}

In [163]:
s.add(10)

In [164]:
s

{1, 2, 4, 5, 10}

In [165]:
s.update({11,111})

In [166]:
s

{1, 2, 4, 5, 10, 11, 111}

In [5]:
x = str(input())

In [6]:
x

'2'

In [9]:
x = "hi"
y = "udbhav"

print(f"{x} {y}")

hi udbhav

In [10]:
print("{} my name is {}".format("hi", "udbhav"))

hi my name is udbhav

In [15]:
print("$\n$$ \n$$$$")

$
$$
$$$$

In [16]:
x = str(input())
print(f"!{x}!")

!udbhav!

In [19]:
b= 5
a=2

b%a

1

In [23]:
a = 5
b = 5.0

In [24]:
id(a)

2253394045360

In [25]:
id(b)

2253478005616

In [28]:
a is b

False

In [30]:
x = int(input())

print((3**35)//x)

5003154509899970

In [32]:
a = 10
a>>1

5

In [33]:
a = True

In [34]:
not(a)

False

In [35]:
a = [1,8,7]
max_a = a[0]
for x in a:
    if x>max_a:
        max_a = x

In [36]:
max_a

8

In [37]:
range(2,10)

range(2, 10)

In [38]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
print("yes")

yes

In [2]:
print("yes", end="@")

yes@

In [8]:
for i in range(10):
    print(i, end=' ')
else:
    print("done")

0 1 2 3 4 5 6 7 8 9 done

In [12]:
for i in range(5):
    for j in range(i+1):
        print("*", end='')
    print()

*
**
***
****
*****

In [16]:
for i in range(1,6):
    for j in range(1,6):
        print(i*j, end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [17]:
x = 5

if x > 10:

   print("A")

elif x > 3:

   print("B")

else:

   print("C")

B

In [19]:
x = 7

if x < 5:

   print("A")

else:

    if x == 7:
       

       print("B")

    else:


        print("C")

B

In [20]:
x = 5

if x > 10:

   print("A")

elif x > 3:

   print("B")

elif x == 5:

   print("C")

else:

   print("D")

B

In [24]:
x = 10

if x > 5:

   print("A")

if x > 7:

   print("B")

A
B

In [3]:
x = lambda x:print(f"hello {x}")

In [4]:
x("money")

hello money

In [5]:
add = lambda x,y: x+y

In [6]:
add(2,3)

5

In [7]:
even = lambda x: "even" if x%2==0 else "odd"

In [8]:
even(2)

'even'

In [9]:
even(3)

'odd'

In [10]:
greater = lambda x,y: x if x>y else y

In [11]:
greater(2,3)

3

In [12]:
greater(10,20)

20

In [13]:
greater = lambda x, y, z: max(x, y, z)

In [14]:
vow = lambda x: 'true' if x in ['a','e','i','o','u'] else 'false'

In [16]:
vow('a')

'true'

In [17]:
vow('b')

'false'

In [4]:
l1 = [1,2,3,4,5,6,7,8,9]

e = [x  if x> 4 else " less than 4" for x in l1]
e

[' less than 4', ' less than 4', ' less than 4', ' less than 4', 5, 6, 7, 8, 9]

In [5]:
f = ['two ' if x %2==0 else 'three' if x%3==0 else 'not divisble' for x in l1 ]
f

['not divisble',
 'two ',
 'three',
 'two ',
 'not divisble',
 'two ',
 'not divisble',
 'two ',
 'three']

In [1]:
x = [
    2,
    3,
    4,
    5,
]

In [1]:
def test():

    ''' this is my functyion'''

    return print("ji")

In [2]:
test()

ji

In [4]:
m = lambda a,b: a+b

In [5]:
m(2,3)

5

In [6]:
m = lambda n: "even" if n%2==0 else "odd"

In [7]:
m(3)

'odd'

In [8]:
m(4)

'even'

In [9]:
l=[1,2,3,4,5,6]

In [10]:
[x for x in l if x%2 != 0]

[1, 3, 5]

In [11]:
m = lambda l:sum([x for x in l if x%2 !=0])
m

In [12]:
m(l)

9

In [13]:
fact = lambda n: 1 if n==0 else n*fact(n-1)

In [14]:
fact(5)

120

In [1]:
m = lambda a: a+2

In [2]:
m(4)

6

In [3]:
m([1,2,3])

TypeError: can only concatenate list (not "int") to list

In [5]:
l = [1,2,3,4]

In [9]:
list(map(lambda a:a+2, l))

[3, 4, 5, 6]

In [7]:
m

In [8]:
list[m]

list[<map object at 0x0000024C49826970>]

In [20]:
def fact(n):

    res = 1

    for i in range(n):
        res = res*(i+1)

    return res

In [25]:
list(map(fact, l))

[1, 2, 6, 24]

In [22]:
fact(2)

2

In [23]:
fact(3)

6

In [26]:
l = ['pw', 'skills', 'lab']

In [27]:
list(map(lambda a:len(a),l))

[2, 6, 3]

In [29]:
list(map(lambda a:a[::-1],l))

['wp', 'slliks', 'bal']

In [30]:
l = [1,2,3,4,5]

In [32]:
from functools import reduce

In [33]:
reduce(lambda a,b:a*b,l)

120

In [34]:
l

[1, 2, 3, 4, 5]

In [37]:
reduce(lambda a,b: a if a<b else b,l)

1

In [43]:
reduce(lambda a,b:a*b if a%2==0 & b%2==0 else 1,l)

1

In [45]:
l

[1, 2, 3, 4, 5]

In [44]:
reduce(lambda a,b:a*b,[i for i in l if i%2==0])

8

In [56]:
l ='PwSkills is a company'

In [57]:
list(filter(lambda a :  a.islower(),l))

['w',
 'k',
 'i',
 'l',
 'l',
 's',
 'i',
 's',
 'a',
 'c',
 'o',
 'm',
 'p',
 'a',
 'n',
 'y']